.category-courses {
	&__banner {
		background-image: url(../img/courses-bann.jpg);
	}
	&__banner .sole-banner__content-wrapper {
	    max-width: 59.25rem;
	}
	&__banner-text-wrapper {
		padding-top: 14.375rem;
		padding-bottom: 11.875rem;
	}
	&__main-text {
		font-size: 5.5rem;
	}
}