.contact-us {
	&__banner {
		background-image: url(../img/contact-banner.png);
	}
}
.contact {
	&__form > * {
		margin-bottom: .3rem;
	}
	&__form textarea {
		resize: vertical;
		width: 100%;
		border-radius: 30px;
		border: 1px solid #dedede;
		padding-left: 2rem;
    	padding-top: 1.2rem;
	}
	&__input {
		height: 4rem;
		width: 100%;
		border-radius: 30px;
		border: 1px solid #dedede;
		padding-left: 2rem;
    	padding-top: 1.2rem;
	}
	&__label-wrapper > label {
		position: relative;
		flex: 1;
		color: #1f4263;
		font-weight: 700;
	}
	&__label:before {
		position: absolute;
		left: 2rem;
		top: .5rem;
	}
	&__label-name:before {
		content: "Your name";
	}
	&__label-email:before {
		content: "E-mail adress";
	}
	&__label-comment:before {
		content: "Text";
	}
}