@font-face {
  font-family: "Nunito Black";
  src: url(../fonts/nunito/Nunito-Black.otf);
  src: url(../fonts/nunito/Nunito-Black.ttf);
}
@font-face {
  font-family: "Nunito Regular";
  src: url(../fonts/nunito/Nunito-Regular.otf);
  src: url(../fonts/nunito/Nunito-Regular.ttf);
}
@font-face {
  font-family: "Nunito SemiBold";
  src: url(../fonts/nunito/Nunito-SemiBold.otf);
  src: url(../fonts/nunito/Nunito-SemiBold.ttf);
}
@font-face {
  font-family: "Nunito Bold";
  src: url(../fonts/nunito/Nunito-Bold.otf);
  src: url(../fonts/nunito/Nunito-Bold.ttf);
}
html {
	font-size: 1em;
}
body {
	color: #1f4263;
	line-height: 1.2;
	font-family: "Nunito Regular";
}
//spread 5 elements on all length of row
.fw-500 {
	font-weight: 500 !important;
}
.fw-600 {
	font-weight: 600 !important;
}
.fw-700 {
	font-weight: 700 !important;
}
.col-xl-2and4 {
  @include make-col-ready;
  @include media-breakpoint-up(xl) {
    @include make-col(2.4);
  }
}
.nunito-regular {
	font-family: "Nunito Regular";
}
.nunito-black {
	font-family: "Nunito Black";
}
.nunito-semi-bold {
	font-family: "Nunito SemiBold";
}
.nunito-bold {
	font-family: "Nunito Bold";
}
.transparent-layer {
    background-color: rgba(31,66,99,0.89);
    opacity: 0.55;
}
//banner styles
.sole-banner {
	background-image: url(../img/baner.jpg);
    background-size: cover;
	color: white;
	&__position {
		position: relative;
	    padding: 16.875rem 0px 15rem 0px;
	    background-attachment: fixed;
	}
	&__content-wrapper {
		max-width: 41.25rem;
	}
	&__content-wrapper_position {
		padding-left: 3.75rem;
	}
	&__upper-text_position {
		margin-bottom: 1.25rem;
	}
	&__main-text_wrapper-positon {
		margin-bottom: 2.5rem;
	}
	&__main-text {
	    color: #ffffff;
	    font-size: 3.31rem;
	    font-weight: 700;
	    line-height: 1.2em;
	    letter-spacing: .1125rem;
	}
	&__button {
		display: inline-block;
	    font-size: .8125rem;
	    font-weight: 700;
	    text-transform: uppercase;
	    letter-spacing: .1875rem;
	    fill: #ffffff;
	    color: #ffffff;
	    background-color: rgba(239,193,0,0);
	    border-style: solid;
	    border-width: .1875rem;
	    border-color: #3ebac7;
	    border-radius: 1.875rem;
	    padding: 1.0625rem 2.125rem;
	    &_courses {
	    	color: #3ebac7;
	    }
	    &:hover {
	        color: #1f4263;
	    	background-color: #3ebac7;
	    	transition: all .3s;
	    	text-decoration: none;
	    }
	    &_courses:hover {
	    	color: white;
	    }
	}
}
//moto section
.moto {
	&__main-wrapper_position {
		padding-top: 3.125rem;
		padding-bottom: 3.125rem;
	}
	&__content {
		font-family: "Nunito Bold";
	}
	&__divider {
	    border-top-style: solid;
		border-top-width: 3px;
		border-top-color: #3ebac7;
    	width: 10%;
    	&_for-small-block {
    		width: 35%;
    	}
    	&_footer {
    		border-top-style: solid;
    		border-top-width: 3px;
    		border-top-color: rgba(255,255,255,0.7);
    	}
	}
}
//what's happening section
.whats {
	&-section {
		background-color: #f4f5f9;
	}
	&-section__position {
		padding: 3.125rem 0px 3.125rem 0px;
	}
	&__headline_outer-wrapper-position {
		margin-bottom: 1.875rem;
	}
	&__second-headline_wrapper-position {
		margin-bottom: 1.25rem;
	}
	&__img-wrapper {
		height: 25rem;
		width: 100%;
	}
}
//why-sole section {
.why-sole{
	&__section {
		margin-top: 2.5rem;
	}
	&__top-text {
		color: #3ebac7;
	    font-size: 12px;
	    font-weight: 600;
	    text-transform: uppercase;
	    font-style: normal;
	    letter-spacing: 1.4px;
	}
	&__text-wrapper_position {
		margin-bottom: 2.5rem;
	}
}
.why-sole.card-img-top {
	height: 12.75rem;
	width: 12.75rem;
}
//courses section
.sole-courses {
	&__section {
		margin: 6.875rem 0 6.25rem 0;
	}
	&__card-button {
	    font-size: 13px;
	    font-weight: 700;
	    text-transform: uppercase;
	    letter-spacing: 3px;
	    fill: #3ebac7;
	    color: #3ebac7;
	    &:hover {
	    	color: #18a3aa;
	    	text-decoration: none;
	    	transition: all .3s;
	    }
	}
	&__text-wrapper-position {
		margin-bottom: 4.375rem;
	}
}

//teachers section
.sole-teachers{
	&__teacher-img-wrapper {
		width: 15.75rem;
		height: 15.75rem;
	    border-radius: 127px;
    	overflow: hidden;
	}
	&__container {
		margin-bottom: 3.125rem;
	}
}
//bottom banner
.sole {
	&__bottom-banner {
	    background-attachment: fixed;
	    background-image: url(../img/b-banner.png);
	    background-position: top center;
	    background-repeat: no-repeat;
	    background-size: cover;
		padding: 270px 0 240px 0;
	}
}