footer {
	background-color: #214063;
}
footer * {
	color: white;
}
footer .navbar-nav .nav-item:first-child {
	margin-left: 0;
}
footer .navbar-nav .nav-item:first-child .nav-link {
	padding-left: 0;
}
.footer {
	&__logos-wrapper .sole-menutop__social {
	    background-color: white;
	    width: 2.25rem;
	    height: 2.25rem;
	}
	&__logos-wrapper .sole-menutop__social_contact {
		background-color: #1f4263;
	}
	&__logos-wrapper .sole-menutop__social:hover {
		background-color: #3ebac7;
	}
	&__logos-wrapper .sole-menutop__social_position {
		margin: 0 1rem;
	}
	&__logos-wrapper .sole-menutop__social_position:first-child {
		margin: 0;
	}
	&__logos-wrapper .sole-menutop__social_position:last-child {
		margin: 0;
	}
	&__logos-wrapper .sole-menutop__social-img {
		fill: #214063;
	}
	&__logos-wrapper_contact .sole-menutop__social-img {
		fill: white;
	}
}
.footer-contact-us__headline {
	font-size: .8125rem;
}
// footer .navbar-nav .nav-link:first-child {
// 	background-color: red;
// }