.navbar {
    padding: 1rem 1rem;
}
.navbar-nav .nav-link {
	padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.navbar-nav .nav-link:hover {
	color: #3ebac7 !important;
}
.absolute-center {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.sole-menutop li.nav-item:last-child {
	margin: 0 0 0 2.5rem;
}
li.nav-item {
	margin: 0 .5rem;
}
.sole-menutop__brand {
	width: 5.7rem;
	height: 5.7rem;
	&_position {
		padding: 0;
	}
}
.sole-menutop__social {
	position: relative;
    background-color: #1f4263;
    border-radius: 50px;
	height: 1.625rem;
	width: 1.625rem;
	&:hover {
		background-color: #3ebac7;
		transition: all .3s;
	}

}
.sole-menutop__social_position {
	margin: 0 .5rem;
	&:first-child, &:last-child {
		margin: 0;
	}
}
.sole-menutop__social-img {
	height: .862rem;
	width: .862rem;
	fill: white;
}